/* GLOBAL STYLES */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing:inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color:red;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* AUTOFILL-STYLES */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
} */

/* PLACEHOLDER COLOR */
/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgb(52, 49, 61);
  opacity: 1;
} */


/* CONTAINER */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}


.tomato-title {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 1;
  color: #fff;
  text-align: center;
}
.tomato {
  width: 600px;
  border-radius: 6px;
  background-color: black;
}

.tomato__btns {
  padding-top: 50px;
}

.tomato__btns-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tomato__btns-item {
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #444;
  cursor: pointer;

}
.tomato__btns-item:not(:last-child) {
  margin-right: 20px;
}

.tomato__btns--active {
  background-color: red;
}

.tomato__btn {
  border: 0;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.tomato__btn:hover {
  opacity: 0.8;
}

.tomota__body {
  display: flex;
  justify-content: center;
  align-items: center;

}

.tomato__body-item {
  display: none;
}

.tomato__body-item--active {
  display: block;
  text-align: center;
}

.tomato__item {
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 72px;
  color: #fff;
}

.tomato__item-btns {
  margin-bottom: 50px;
  text-align: center;
}
.tomato__item-btn {
  padding: 10px 15px;
  border: 0;
  border-radius: 8px;
  background-color: #fff;
  color: black;
  cursor: pointer;
}
.tomato__item-btn:not(:last-child) {
  margin-right: 15px;
}
.restart-btn {
  display: none;
}